<h1>Links</h1>
<div class="link-group">
  <h3>Emails</h3>
  <h5><a href="https://outlook.live.com" target="_blank">Outlook</a></h5>
  <h5><a href="https://mail.yahoo.com" target="_blank">Yahoo</a></h5>
  <h5><a href="https://mail.google.com" target="_blank">Gmail</a></h5>
  <h5><a href="https://ucmail.uc.edu" target="_blank">Ucmail</a></h5>
  <h5><a href="https://mail.uc.edu" target="_blank">mail@uc</a></h5>
</div>
<div class="link-group">
  <h3>Web</h3>
  <h5><a href="http://bleech.io/">bleech.io</a></h5>
  <h5><a href="http://frontend.directory/">Frontend Directory</a></h5>
  <h5><a href="http://material.google.com/">Material</a></h5>
  <h5><a href="http://getmdl.io/">MDL</a></h5>
  <h5><a href="http://www.designerslist.info/">Designer List</a></h5>
</div>
<div class="link-group">
  <h3>Project</h3>
  <h5><a href="https://bitbucket.com/" target="_blank">bitbucket</a></h5>
  <h5><a href="https://github.com/" target="_blank">github</a></h5>
  <h5><a href="https://git.uc.edu/" target="_blank">git@uc</a></h5>
  <h5><a href="https://slack.com/" target="_blank">Slack</a></h5>
  <h5><a href="https://mega.co.nz/" target="_blank">mega</a></h5>
</div>
<div class="link-group">
  <h3>Development</h3>
  <h5><a href="http://www.gdcvault.com/free" target="_blank">GDC</a></h5>
  <h5><a href="http://www.pixelprospector.com/" target="_blank">Pixel Prospector</a></h5>
  <h5><a href="http://www.gamasutra.com/view/feature/131791/the_anatomy_of_a_design_document_.php" target="_blank">Design Document</a></h5>
</div>
<div class="link-group">
  <h3>Art</h3>
  <h5><a href="http://opengameart.org/" target="_blank">OGA</a></h5>
</div>
<div class="link-group">
  <h3>Music</h3>
  <h5><a href="https://www.jamendo.com/start" target="_blank">Jamendo</a></h5>
  <h5><a href="https://ourmusicbox.com/" target="_blank">MusicBox</a></h5>
</div>
