html, body {
  width: 100%;
  height: 100%; }
  html .block, body .block {
    min-height: 10%;
    overflow: scroll; }
  html .module, body .module {
    padding: 1em 1em 1em 1em; }
  html .inner-module, body .inner-module {
    border: 1px solid black;
    padding: 5px 5px 5px 5px; }
  html .row, body .row {
    margin: 0 0 0 0; }

#music-1-module .inner-module {
  height: 25%; }

#weather-module img {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%); }

#weather-module .inner-module {
  height: 25%; }
