#news-module {
  height: 50vh;
  .scroll {
    overflow: scroll;
    height: 45vh;
    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      font-size: 12pt;
      margin-bottom: 1.5vh;
      font-style: italic;
    }
    .headline {
      font-style: normal;
    }
  }
}
