#news-module {
  height: 50vh;
  .scroll {
    overflow: scroll;
    height: 45vh;
    a {
      text-decoration: none;
      color: rgba(127,140,141,0.9);
      display: inline-block;
      font-size: 12pt;
      margin-bottom: 1.5vh;
    }
    .headline {
      color: rgba(236,240,241,0.9);
    }
  }
}
