#welcome-module {
  height: 25vh;
  a {
    text-decoration: none;
    color: inherit;
  }
  div {
    text-align: center;
    img {
      border-radius: 100%;
      height: 20vh;
      width: auto;
    }
  }

}
